#jokeDisplay{
    color: white;
}

.spacer{ 
    height: 150px;
    width: 50px;
}

.color {
    color: white;
}

.displayText {
    font-size: 1.8rem;
    text-align: center;
}

.displayTextTwo {
    font-size: 1.3rem;
}

.categorybuttons{
    margin: 0px 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    padding: 4px 16px;
}

.categorybuttons:hover {
    color: red;
}