#jokeDisplay{
    color: white;
}

.spacer{ 
    height: 150px;
    width: 50px;
}

.color {
    color: white;
}

.displayText {
    font-size: 2rem;
    text-align: center;
}

.displayTextTwo {
    font-size: 1.3rem;
}